{{!-- Home Page --}}
<section id="hero" class="d-flex align-items-center"
    style=" background-image: linear-gradient(to bottom right, rgb(148, 0, 141), rgb(131, 0, 148), rgb(201, 6, 168), rgb(94, 0, 97));">

    <div class="container">
        <div class="pre-nav">
            <ul class="">
                <li><a href="/admin/user-list"><i class="bi bi-list-task"></i> User List</a></li>
                <li><a href="/admin/sign-out"><i class="bi bi-box-arrow-left"></i> Sign Out</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
                <h1>Admin Panel</h1>
                <h5>Login at {{admin.emailId}}</h5>

                
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="/images/admin/why-us.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section>